---
title: Bíblia de Estudo Interlinear
---
<!DOCTYPE html>
<html land="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="description" content="Página inicial da BEI">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ './css/style.css' }}">
</head>

<body>

  <div id="app" class="wrapper">

    <header class="app-bar">
      <h1><a href="/">Bíblia de Estudo Interlinear</a></h1>
    </header>

    <main class="home main-content">
      <div class="content">

        {% block content %}
          {{ content }}
        {% endblock %}

      </div>
    </main>

  </div>

</body>
</html>