<!DOCTYPE html>
<html land="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">

  <style>
    .no_strongs .pos,
    .no_translit .translit,
    .no_greek .greek,
    .no_greek .punct,
    .no_grammar .strongsnt {
      display: none;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    .content {
      max-width: 1366px;
      margin: 0 auto;
    }

    .content-frame {
      flex: 1;
      width: 100%;
    }
  </style>
</head>

<body>