body {
  font: 1.05em Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  line-height: 1.35em;
  color: #001320;
  background-color: #fdfeff;
  text-align: justify;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #0092f2;
}
a:hover {
  text-decoration: none;
  color: #99D6FF;
}
table table:first-child {
  /* display: none; */
}

/* REUSABLE CLASSES */

.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.center {
  text-align: center;
  margin: 0 auto;
}

/* ELEMENT CLASSES */

.app-bar {
  position: fixed;
  left: 0;
  right: 0;
  height: 48px;
  background-color: #7B0005;
  color: white;
  text-align: center;
  z-index: 1000;
}
  .app-bar h1 {
    font-size: 18px;
    font-weight: bold;
  }
.toolbar {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  padding: 12px;
  background-color: #EBEBEB;
  z-index: 1000;
}
select.drop {
  padding: 6px;
  background-color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}
button.square {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: rgb(123, 0, 5, 1);
  color: white;
  cursor: pointer;
}
  .no_strongs #strongBt,
  .no_translit #translitBt,
  .no_greek #greekBt,
  .no_grammar #gramBt {
    background-color: rgb(123, 0, 5, 0.3);
  }
.main-content {
  margin-top: 110px;
}

/* STRUCTURE */

.maintable {
  width: 100%;
}
#movebox {
  text-align: center;
}
#topheading {
  width: 100%;
  text-align: center;
  font: 1.7em Verdana, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #552200;
}

/* INTERLINEAR */

#movebox2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 20px;
  font-size: 1.4em;
  font-weight: 700;
  color: #7B0000;
  text-align: center;
}
  #movebox2 a {
    padding: 4px;
    border-radius: 50px;
    color: #00A7FF;
    opacity: 0.3;
  }
    #movebox2 a:hover {
      background-color: #E5E5E5;
      opacity: 1;
    }
.vheading {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #7B0000;
  text-align: center;
}
.title {
  display: inline-block;
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 44px;
  font-weight: bold;
  color: black;
}
.num {
  font-size: 11px;
  color: #7B0000;
  line-height: 14px;
  margin-top: 0px;
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: text-top;
}
.refmain {
  font-size: 15px;
  color: #7B0000;
  line-height: 21px;
  line-height: 8px;
  font-weight: 700;
}
.strongs {
  font-size: 15px;
  color: #0092f2;
  line-height: 26px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
}
.pos a {
  font-size: 13px;
  color: #0092f2;
  line-height: 16px;
  font-family: Arial, Helvetica, Sans-serif;
}
.greek {
  font-size: 21px;
  color: #7B0000;
  line-height: 32px;
  font-family: Cardo, GentiumAlt, Galilee Unicode Gk, Galatia SIL, Palatino Linotype, Arial, Helvetica, Sans-serif;
}
.punct {
  font-size: 20px;
  color: #7B0000;
  line-height: 1;
  font-family: Ariel Black, Arial, Helvetica, Sans-serif;
  Font-weight: 700;
  text-decoration: none; 
  text-align: justify
}
.eng {
  font-size: 17px;
  color: #606060;
  font-style: italic;
  line-height: 26px;
}
.translit a {
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 15px;
  color: #aaa;
  line-height: 26px;
  font-style: italic;
}
.strongsnt a {
  font-size: 12px;
  color: #707070;
  line-height: 28px;
  font-family: Arial, Helvetica, Sans-serif;
}

/* *** */

.versiontext {
  font-weight: 700;
  color: #0092f2;
}
.verstext {
  font-weight: 700;
  color: #0092f2;
}
.titletext {
  font-weight: 700;
}
.crossverse {
  font-weight: 700;
}

#topverse {
  padding-top: 6px;
  padding-bottom: 2px;
  padding-left: 12%;
  padding-right: 12%;
  text-align: center;
  color: #b34700;
  font-style: italic;
}
#fx {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
}
#fx2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: #0082d9;
  z-index: 2;
  box-shadow: 1px 1px 1px #e8f5ff;
  z-index: 1;
}

#blnk {
  height: 40px;
}
#container {
  margin-left: 0px;
  margin-top: 0px;
  position: relative;
  vertical-align: top;
  width: 100%;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;
  background-color: #fdfeff;
  height: auto;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
#leftbox {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  text-align: justify;
}
#centbox {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  text-align: justify;
}
#rightbox {
  margin-left: 0px;
  width: 100%;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: justify;
}

.vheading2 {
  text-align: left;
  background-color: #fff0e6;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 8px;
  font: 1.1em Verdana, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #552200;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.padright {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.padcent {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.padleft {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.p {
  line-height: 18px;
}
.h {
  height: 23px;
  background-image: url(/hr.gif);
  background-repeat: repeat-x;
}
.blanktab {
  height: 86px;
}
/*** ------- SETAS DE NAVEGAÇÃO ------- ***/
#left {
  position: fixed;
  top: 50%;
  left: -10px;
  z-index: 1;
}
#right {
  position: fixed;
  top: 50%;
  right: -10px;
  z-index: 1;
}
#left a,
#right a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50px;
}
#left a:hover,
#right a:hover {
  background-color: #ddd;
}
#left a:hover #seta-esquerda {
  fill: #0092f2;
}
#right a:hover #seta-direita {
  fill: #0092f2;
}
#botright {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}
#botright a:hover #seta-acima {
  fill: #0092f2;
}
/*-------------------------------------------------*/
.encheading {
  color: #552200;
  font-weight: 700;
}
.encycheading {
  color: #552200;
  font-weight: 700;
}
.adbk {
  background-color: #e6f3ff;
}
.vtext {
  color: #ff6600;
}
.str {
  color: #0092f2;
}
.hdg {
  font-weight: 700;
  color: #552200;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
}
.hdg1 {
  font-weight: 700;
  margin-top: 0px;
  color: #552200;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
}
.hdg2 {
  font-weight: 700;
  color: #552200;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
}
.tskverse {
  margin-left: 15px;
}
.tskverse1 {
  margin-left: 15px;
}
.movetable {
  width: 100%;
}
.hebrew {
  text-decoration: none;
  direction: rtl;
  FONT: 1.4em Ezra SIL, SBL Hebrew, Cardo, Palatino Linotype, Arial, Helvetica, Sans-serif;
  font-family: 'Cardo', serif;
  line-height: 1.5em;
  text-align: right;
  margin-top: 12px;
  margin-bottom: 12px;
}

.tophdg {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #0066aa;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
}
.hdg {
  font-weight: 700;
  font-size: 13px;
  line-height: 48px;
  color: #0066aa;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
}
.greek .maintitle {
  font-size: 19px;
  font-weight: 700;
  color: #552200;
  line-height: 26px;
  font-family: Cardo, GentiumAlt, Galilee Unicode Gk, Galatia SIL, Palatino Linotype, Arial, Helvetica, Sans-serif;
  text-decoration: none; 
  text-align: justify
}
.sourceheading {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #001320;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  VERTICAL-ALIGN: top;
}
.lexheading {
  font-weight: 700;
  font-size: 17px;
}
.textheading {
  font-weight: 700;
  font-size: 17px;
}
.reom {
  font-weight: 700;
  font-size: 17px;
}
.emphasized {
  font-weight: 700;
  color: #552200;
  font-style: Italic;
  font-size: 17px;
}
.nonheading {
  font-weight: 700;
  font-style: Italic;
  font-size: 15px;
  line-height: 18px;
  color: #0066aa;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  VERTICAL-ALIGN: top;
}
.ltext2 {
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #001320;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  VERTICAL-ALIGN: top;
  Color: none
}
.xtext {
  font-size: 15px;
  font-style: italic;
  color: #0066AA;
  line-height: 19px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}
.x2text {
  font-size: 15px;
  color: #001320;
  line-height: 17px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}
.x3text {
  font-size: 15px;
  color: #001320;
  line-height: 19px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}
.comtext {
  font-size: 15px;
  font-style: normal;
  color: #001320;
  line-height: 19px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}
.redtext {
  font-size: 15px;
  line-height: 18px;
  color: #552200;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.toptext {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: #0066AA;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.encheading {
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  color: #552200;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.redheading {
  font-size: 15px;
  background-color: #ffecdf;
  background-image: url(orange5.gif);
  line-height: 20px;
  font-weight: bold;
  color: #552200;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.encycheading {
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  color: #552200;
  padding-top: 5px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.toptitle2 {
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  color: #552200;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.redheading2 {
  font-size: 15px;
  background-color: #ffffff;
  line-height: 20px;
  font-weight: bold;
  color: #552200;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.redheading3 {
  font-size: 16px;
  line-height: 33px;
  font-weight: bold;
  color: #552200;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.btext2 {
  font-size: 15px;
  color: #001320;
  line-height: 24px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none; 
  text-align: justify
}
.boldtext {
  font-size: 15px;
  font-weight: 700;
  color: #001320;
  line-height: 24px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none; 
  text-align: justify
}
.sectionheading {
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  FONT-Style: italic;
  color: #001320;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.btext {
  font-size: 19px;
  color: #001320;
  line-height: 27px;
  font-family: Cardo, GentiumAlt, Galilee Unicode Gk, Galatia SIL, Palatino Linotype, Arial, Helvetica, Sans-serif;
  text-decoration: none
}

.ital {
  font-size: 15px;
  color: #d55500;
  line-height: 26px;
  font-style: italic;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
}
.spc {
  font-size: 12px;
  font-family: Arial, Helvetica, Sans-serif;
}
.spc2 {
  font-size: 35px;
  font-family: Arial, Helvetica, Sans-serif;
}
.spc3 {
  font-size: 35px;
  font-family: Arial, Helvetica, Sans-serif;
}
.spc4 {
  font-size: 35px;
  font-family: Arial, Helvetica, Sans-serif;
}
.spc5 {
  font-size: 35px;
  font-family: Arial, Helvetica, Sans-serif;
}
.smcap {
  font-size: 13px;
  color: #d55500;
  line-height: 26px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}

.translit2 {
  font-size: 15px;
  color: #001320;
  line-height: 14px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}
.interlin {
  font-size: 11px;
  color: #ff6600;
  line-height: 26px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}
.vul {
  font-size: 15px;
  color: #001320;
  line-height: 19px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}
.rtext {
  font-size: 12px;
  color: #001320;
  line-height: 15px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}

.refheb {
  font-size: 15px;
  color: #9b3e00;
  line-height: 21px;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: justify
}
.reftop {
  font-size: 15px;
  color: #ffffff;
  line-height: 14px;
  line-height: 8px;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: justify
}
.reftop2 {
  font-size: 15px;
  color: #ffffff;
  line-height: 16px;
  line-height: 8px;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: justify
}
.reftop3 {
  font-size: 15px;
  color: #ffffff;
  line-height: 8px;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: justify
}
.refbot {
  font-size: 15px;
  color: #ffffff;
  /*   line-height: 21px;*/
  line-height: 8px;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: justify
}
.reftrans {
  font-size: 15px;
  color: #ffffff;
  /*  line-height: 21px;*/
  line-height: 8px;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: justify
}
.strongstext {
  font-size: 15px;
  color: #001320;
  line-height: 21px;
  font-weight: 700;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}
.kjtext {
  font-size: 16px;
  color: #001320;
  line-height: 20px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none; 
  text-align: justify
}
.latintext {
  font-size: 16px;
  color: #001320;
  line-height: 20px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none; 
  text-align: justify
}
.aratext {
  font-size: 20px;
  color: #001320;
  line-height: 27px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none; 
  text-align: justify
}
.aramaic {
  font-size: 20px;
  color: #001320;
  line-height: 27px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none; 
  text-align: justify
}

.cverse {
  font-size: 15px;
  font-style: italic;
  color: #0066aa;
  line-height: 19px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none; 
  text-align: justify
}
.cverse2 {
  font-size: 15px;
  font-style: italic;
  color: #0066aa;
  line-height: 19px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none; 
  text-align: justify
}
.itext {
  font-size: 14px;
  color: #001320;
  line-height: 21px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none; 
  text-align: justify
}
.botlink {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none; 
  text-align: justify
}
.smallcaps {
  font-size: 12px;
  color: #001320;
  line-height: 21px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none; 
  text-align: justify
}
.whiteheading {
  font-size: 13px;
  line-height: 13px;
  font-weight: Bold;
  color: #ffffff;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none; 
  text-align: center
}
.medblue {
  background-color: #0082d9;
}
.mainbk2 {
  background-color: #b9e3ff;
}
.mainbk {
  background-color: #ffffff;
}
.bluebk {
  background-color: #ffffff;
}
.darkbk {
  background-color: #99d6ff;
}
.bluebk2 {
  background-color: #ffffff;
  background-image: url(bk5.gif);
  background-repeat: no-repeat;
}
.bluebk3 {
  background-color: #ffffff;
  /*   background-image: url(tablebk3.gif); */
  text-align: justify
}
.bluebk3a {
  background-color: #ffffff;
  /*    background-image: url(topline3d.gif); */
  background-repeat: no-repeat;
}
.bluebk4 {
  background-color: #ffffff;
  background-image: url(bk5r.gif);
  background-repeat: no-repeat;
  background-position: right top;
  /*     background-color: #bbe0ff; */
}
.orange {
  font-size: 15px;
  background-color: #ffecdf;
  line-height: 20px;
  font-weight: bold;
  color: #552200;
  font-family: Arial, Helvetica, Sans-serif;
  background-image: url(orange1.gif);
  text-decoration: none
}
.orange2 {
  font-size: 15px;
  background-color: #ffffff;
  line-height: 20px;
  font-weight: bold;
  color: #552200;
  font-family: Arial, Helvetica, Sans-serif;
  background-image: url(orange4.gif);
  text-decoration: none
}
.rtbk {
  background-color: #bbe0ff;
  background-image: url(bk6.gif);
}
.tablebk {
  background-color: #ffffff;
}
.chpabk {
  background-color: #ffffff;
  background-image: url(chpbk.jpg);
}
.topbk {
  background-color: #ffffff;
}
.smalltext {
  font-size: 13px;
  line-height: 19px;
  color: #001320;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none; text-align: justify
}
.ltext {
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  color: #000000;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  VERTICAL-ALIGN: top;
}
.titletext {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  VERTICAL-ALIGN: top;
}
.crossref {
  font-weight: 700;
  font-size: 11px;
  line-height: 17px;
  color: #000000;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  VERTICAL-ALIGN: top;
}
.versiontext {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  VERTICAL-ALIGN: top;
}
.ltext2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  VERTICAL-ALIGN: top;
  Color: none
}
.xtext {
  font-size: 15px;
  font-style: italic;
  color: #0066AA;
  line-height: 19px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}
.x2text {
  font-size: 14px;
  color: #001320;
  line-height: 17px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}
.x3text {
  font-size: 15px;
  color: #001320;
  line-height: 19px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}
.comtext {
  font-size: 12px;
  font-style: normal;
  color: #001320;
  line-height: 19px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify
}
.redtext {
  font-size: 15px;
  line-height: 18px;
  color: #552200;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.redheading {
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  color: #552200;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}

.reftext {
  font-size: 15px;
  line-height: 29px;
  font-weight: bold;
  color: #552200;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.sectionheading {
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  FONT-Style: italic;
  color: #001320;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.psalmheading {
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  color: #001320;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.ref {
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  color: #0099ff;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.copyrighttext {
  font-size: 9px;
  line-height: 9px;
  color: #001320;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.versiontext {
  font-size: 12px;
  line-height: 20px;
  color: #0099ff;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none
}
.tablefloat {
  float: right;
  margin: 4px;
}
.tablefloatleft {
  float: left;
  margin: 4px;
}