@import url('https://fonts.googleapis.com/css?family=Cardo');

body {
  font: 1.05em Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  line-height: 1.35em;
  color: #001320;
  background-color: #fdfeff;
  text-align: justify;
}

a:link,a:visited,a:active {
  text-decoration: none;
  color: #0092f2;
}

a:hover {
  text-decoration: none;
  color: #99D6FF;
}


h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
		margin: auto;
}

h3 {
	  margin-top: 0;
		margin-bottom: 8px;
    font-size: 20px;
}

h4 {
	font-size: 16px;
}

/* REUSABLE CLASSES */

.show-mobile {
	display: none;
}

.show-desktop {
	display: block;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-items-center {
	align-items: center;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-none { display: none }

/* ELEMENT CLASSES */

.app-bar {
  position: fixed;
  left: 0;
  right: 0;
  height: 48px;
  background-color: #560219;
  color: white;
  text-align: center;
  z-index: 1000;
}

.app-bar h1 {
	margin: 12px 0px;
  font-size: 19px;
  font-weight: bold;

	& a {
  	color: rgba(255, 255, 255, .85) !important;
	}
}

.main-nav {
	transition: all 1s ease;
	z-index: 1000;

	& ul {
		display: flex;
		gap: 24px;
		margin: 0;
		padding: 0;
		font-family: 'Arial', sans-serif;
		list-style: none;

		& li a {
			color: rgba(255, 255, 255, .85);
			font-size: 15px;

			&:visited {
				color: rgba(255, 255, 255, .85);
			}
		}
	}
}

#toggleMenu {
	display: none;
}

.toolbar {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  padding: 12px;
  background-color: #EBEBEB;
  z-index: 999;
}

select.drop {
  padding: 6px;
  background-color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

button.square {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: rgb(123, 0, 5, 1);
  color: white;
  cursor: pointer;
}

.no_strongs #strongBt,
.no_translit #translitBt,
.no_greek #greekBt,
.no_grammar #gramBt {
  background-color: rgb(123, 0, 5, 0.3);
}

.no_strongs .pos,
.no_translit .translit,
.no_greek .greek,
.no_greek .punct,
.no_grammar .strongsnt {
  display: none;
}

.main-content {
  margin-top: 110px;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.content-frame {
  flex: 1;
  width: 100%;
}
#movebox {
  text-align: center;
}

/* INTERLINEAR */

#movebox2, #topheading, .page-header {
  display: flex;
  justify-content: space-around;
	align-items: center;
  width: 100%;
  padding-top: 24px;
  font-size: 1.05em;
  font-weight: 700;
  color: #7B0000;
  text-align: center;
}

#movebox2 a, #topheading a {
  padding: 4px;
  border-radius: 50px;
  color: #00A7FF;
  opacity: 0.3;
}

#movebox2 a:hover, #topheading a:hover {
  background-color: #E5E5E5;
  opacity: 1;
}

#movebox2 table {
	width: 100%;
}

.vheading {
  width: 100%;
  margin-bottom: 10px;
  /* padding-left: 8px; */
  font-size: 16px;
  font-weight: 700;
  color: #7B0000;
  text-align: center;
}

.title, .hdg {
  display: inline-block;
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 44px;
  font-weight: bold;
  color: black;
}

table.tablefloatleft td {
  height: 140px;
}

.refmain {
  font-size: 15px;
  color: #7B0000;
  line-height: 21px;
  line-height: 8px;
  font-weight: 700;
}

.strongs {
  font-size: 15px;
  color: #0092f2;
  line-height: 26px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
}

.pos a, .strongs a {
  font-size: 13px;
  color: #0092f2;
  line-height: 16px;
  font-family: Arial, Helvetica, Sans-serif;
}

.greek {
  font-size: 21px;
  color: #242424;
  line-height: 32px;
  font-family: 'Cardo', 'GentiumAlt', 'Galilee Unicode Gk', 'Galatia SIL', 'Palatino Linotype', Arial, Helvetica, Sans-serif;
}

.punct {
  font-size: 20px;
  color: #7B0000;
  line-height: 1;
  font-family: Ariel Black, Arial, Helvetica, Sans-serif;
  Font-weight: 700;
  text-decoration: none;
  text-align: justify;
}

.eng {
  font-size: 17px;
  color: #7B0000;
  font-style: italic;
  line-height: 26px;
}

.translit a {
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 15px;
  color: #777;
  line-height: 26px;
  font-style: italic;
}

.strongsnt a {
  font-size: 12px;
  color: #707070;
  line-height: 28px;
  font-family: Arial, Helvetica, Sans-serif;
}

/* *** */

/*-------------------------------------------------*/

/*-------------------------------------------------*/

#leftbox {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  text-align: justify;
}

.vheading2 {
  text-align: left;
  background-color: #fff0e6;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 8px;
  font: 1.1em Verdana, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #552200;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.padleft {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.p {
  line-height: 18px;
}

.h {
  height: 23px;
  background-image: url(/hr.gif);
  background-repeat: repeat-x;
}

/*** ------- SETAS DE NAVEGAÇÃO ------- ***/

#left {
  position: fixed;
  top: 50%;
  left: -10px;
  z-index: 1;
}

#right {
  position: fixed;
  top: 50%;
  right: -10px;
  z-index: 1;
}

#left a,#right a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

#left a:hover,#right a:hover {
  background-color: #ddd;
}

#left a:hover #seta-esquerda {
  fill: #0092f2;
}

#right a:hover #seta-direita {
  fill: #0092f2;
}

#botright {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}

#botright a:hover #seta-acima {
  fill: #0092f2;
}

/*-------------------------------------------------*/

.spc {
  font-size: 12px;
  font-family: Arial, Helvetica, Sans-serif;
}

.spc2 {
  font-size: 35px;
  font-family: Arial, Helvetica, Sans-serif;
}

.spc3 {
  font-size: 35px;
  font-family: Arial, Helvetica, Sans-serif;
}

.spc4 {
  font-size: 35px;
  font-family: Arial, Helvetica, Sans-serif;
}

.spc5 {
  font-size: 35px;
  font-family: Arial, Helvetica, Sans-serif;
}

.translit2 {
  font-size: 15px;
  color: #001320;
  line-height: 14px;
  font-family: Arial, Helvetica, Sans-serif;
  text-decoration: none;
  text-align: justify;
}

.reftop {
  font-size: 15px;
  color: #ffffff;
  line-height: 14px;
  line-height: 8px;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: justify;
}

.reftop2 {
  font-size: 15px;
  color: #ffffff;
  line-height: 16px;
  line-height: 8px;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: justify;
}

.reftop3 {
  font-size: 15px;
  color: #ffffff;
  line-height: 8px;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: justify;
}

.refbot {
  font-size: 15px;
  color: #ffffff;
  /*   line-height: 21px;*/
  line-height: 8px;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: justify;
}

.reftrans {
  font-size: 15px;
  color: #ffffff;
  /*  line-height: 21px;*/
  line-height: 8px;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: justify;
}

.tablefloatleft, .tablefloat {
  float: left;
  margin: 4px;
}

/* BEE */

.pericope.title {
	display: block;
	margin-bottom: 0;
	padding: 16px;
	font-size: 18px;
	text-align: center;
	line-height: 1;
}

.pericope.concordance {
    font-style: italic;
    font-size: 14px;
    display: block;
    font-weight: normal;
    margin-top: 8px;
    color: dimgrey;
    font-family: sans-serif;
}

.pericope.text {
	padding: 0 40px;

	& p {
		margin: 8px 0;
		font-size: 18px;
		color: #262626;
		text-align: left;
		line-height: 1.4;
	}
}

.chapter-number {
	margin-right: 4px;
	color: #560219;
	font-size: 21px;
	font-weight: bold;
}

.verse-number {
	min-width: 8px;
	margin-right: -2px;
	color: #560219;
	font-size: 12px;
	font-weight: bold;
	text-align: right;	
	vertical-align: super;
}

.verse-text {
	margin-right: 4px;
}

@media screen and (max-width: 768px) {

	.show-desktop {
		display: none;
	}

	.show-mobile {
		display: block;
	}

	.app-bar {
    padding: 0 12px;
	}

	h2.show-mobile {
    margin-bottom: 12px;
    text-align: center !important;
	}
  
	nav.main-nav {
    position: absolute;
    background-color: #560219;
    right: 0;
    top: 100%;
    padding: 12px 24px;
    display: none;

		& ul {
			display: block;
			text-align: left;

			& li {
				line-height: 2.3;
			}
		}

		&.open {
			display: block;
		}
	}

	#toggleMenu {
		background: transparent;
		border: none;
		display: block;
		
		& .burger-icon {
			display: flex;
			flex-direction: column;
			gap: 5px;
			width: 24px;

			& .burger-layer {
					height: 3px;
					background-color: rgba(255,255,255,.85);
			}
		}
	}
	
	.home.main-content {
      padding: 0 24px;
      margin-top: 56px;
  }

	.main-content {
    margin-top: 140px;
	}

  .content {
		& h1 {
      font-size: 22px;
      text-align: left;
      line-height: 1.2;
  	}

  	& h2 {
      text-align: left;
      line-height: 1.3;
      font-size: 20px;
  	}

		& h3 {
			font-size: 18px;
		}

		& h4 {
			font-size: 16px;
		}
	}

  .d-flex.flex-wrap > div {
    width: 100%;
    line-height: 1.6;
  }
}

/* SOBRE */

.indice {
  border: solid 1px lightgrey;
	padding: 24px 24px 12px 0;
	width: 290px;
	text-align: left;
	height: fit-content;

	& a {
		margin-bottom: 12px;
		display: block;
	}
}