---
title: 'Sobre a BEREIA'
description: 'Explicação sobre o texto usado e outras particularidades'
layout: 'base.liquid'
---

<div class="d-flex flex-wrap" style="gap: 24px">

	<div class="indice">
		<h3 style="padding-left: 24px">Índice</h3>
		<nav>
			<ul>
				<li><a href="#a">Sobre a BEREIA</a></li>
				<li><a href="#b">A Bíblia de Estudo Exegético do Novo Testamento</a></li>
				<li><a href="#c">A Bíblia Interlinear</a></li>
				<li><a href="#d">Particularidades sobre o texto do Antigo Testamento</a></li>
				<li><a href="#e">Os textos gregos utilizados</a></li>
			</ul>
		</nav>
	</div>

	<div class="conteudo" style="flex: 1;">
		<h1 id="a">Sobre a BEREIA</h1>

		<p>Bem vindo à Bíblia de Estudo com Recursos Exegéticos e Interlinear Analítico (BEREIA), um recurso gratuito que tem por objetivo auxiliar os estudantes das Escrituras Sagradas, iniciantes e avançados. Através desta ferramenta você tem acesso tanto a uma nova tradução do Novo Testamento fiel aos originais com recursos de estudo, como também ao texto original do Antigo Testamento (LXX) e do Novo Testamento (TM) gregos em formato interlinear.</p>

		<p>Cremos que a Bíblia é a Palavra de Deus que não erra. Entretato, isso diz respeito somente aos textos originais. Qualquer tradução das Escrituras correrá sempre o risco de ser enviesada e imperfeita. Tendo acesso aos originais, o estudante pode conferir o texto literal, assim como outras possíveis traduções de um mesmo termo. Uma vez que o grego <em>koiné</em> (o tipo de grego usado no NT) é muito rico, algumas vezes a tradução faz perder o sentido mais específico do texto. Tendo acesso aos originais inerrantes, qualquer um tem o poder de compreender com mais profundidade o texto sagrado.</p>

		<p>A BEREIA é composta de duas ferramentas com propósitos distintos: A Bíblia de Estudo Exegético do Novo Testamento e a Bíblia Interlinear Analítica contendo os textos gregos originais do Antigo e do Novo Testamento.</p>

		<h2 id="b">A Bíblia de Estudo Exegético do Novo Testamento</h2>

		<p>Como o nome evidencia, o propósito desta Bíblia de estudo online vai além do de oferecer uma tradução ou versão tradicional ou popular. Uma vez que o objetivo é suprir o estudante com um texto que se aproxime ao máximo dos originais (algo que está claro que nunca será 100% possível), o texto da Bíblia de Estudo Exegético do Novo Testamento segue os originais à risca. Isso significa que, na medida do possível, cada termo foi traduzido conforme sua classe gramatical, especialmente o tempo e a voz verbal. Entendemos que se o original diz "sejam fortalecidos" não depende de nós, mas de outra pessoa (em geral, Deus), portanto não faz sentido traduzir o verbo como "fortaleçam-se"!</p>

		<p>O texto do Novo Testamento da Bíblia de estudo é fruto da tradução literal do texto encontrado no recurso Interlinear. Entretanto, uma tradução ultra-literal não torna o texto legível, uma vez que o grego possui uma "personalidade" diferente da língua portuguesa. Sendo assim, algumas adequações precisaram ser feitas, como concordar o artigo com o substantivo ou suprimir artigos que não soam natural ao portugês. Além disso, sempre que uma expressão idiomática foi identificada, foi realizada uma tradução dinâmica. Porém, a expressão original é preservada em uma nota.</p>

		<p>Por sinal, um dos destaques desta Bíblia de estudo, além da nova tradução, são as notas que a acompanham. Cada uma delas pertence a um dos seguinte grupos:</p>

		<ul>
			<li><strong>Notas de tradução:</strong> Apontando variantes importantes do texto, traduções alternativas que fazem sentido para o texto, assim como as já mencionadas expressões idiomáticas;</li>
			<li><strong>Palavras-chave:</strong> Detalhes sobre o termo original traduzido, aprofundando o entendimento sobre ele;</li>
			<li><strong>Definições:</strong> Termos que não são previamente apresentados ao leitor merecem uma explicação, assim como alguns nomes e títulos presentes no texto;</li>
			<li><strong>Contexto histórico e cultural:</strong> Algumas situações e questões apresentadas também merecem uma explicação.</li>
		</ul>

		<p>Tudo isso visa auxiliar o estudante a interpretar a Bíblia de forma mais precisa e responsável.</p>

		<p>Um ponto adicional, inédito em língua portuguesa, são as referências cruzadas entre o texto do Novo Testamento e a Septuaginta (leia mais abaixo). Sempre que uma passagem do Antigo Testamento é citada, um link levará diretamente para o texto interlinear do Antigo Testamento em grego (a LXX). Isso ajuda a perceber a ponte linguística entre o NT grego e o AT grego.</p>

		<p>OBS: Inicialmente, o texto do Antigo Testamento grego só está disponível na versão interlinear.</p>

		<h2 id="c">A Bíblia Interlinear</h2>

		<p>Esta ferramenta apresenta os textos gregos do Antigo e do Novo Testamento (LXX e TM, respectivamente), juntamente com uma tradução de cada termo, palavra por palavra, além de números Strong que levam a definições mais extensas das palavras*. Assim, é possível ter acesso aos textos originais, assim como uma tradução literal de cada palavra.</p>

		<figure>
			<img src="{{ '/img/nt-interlinear.png' | url }}" alt="print do texto interlinear da BEI" width="100%" />
			<figcation><em>Exemplo do texto interlinear de Mateus 3:1</em></figcation>
		</figure>

		<p>Ao passar o mouse sobre os números ou as transliterações, um tooltip apresenta mais informações sobre o termo grego, inclusive outras possibilidades de tradução. Em dispositivos móveis, toque e segure para visualizar o tooltip.</p>

		<h2 id="d">Particularidades sobre o texto do Antigo Testamento</h2>

		<p>Na maioria das Bíblias em língua portuguesa, o texto do AT é o texto hebraico massorético (um tipo de texto utilizando vogais, ausentes nas versões anteriores ao século IV), muitas delas utilizando a Bíblia Stuttgartensia. Apesar disso fazer todo o sentido — afinal os autógrafos foram de fato escritos em hebraico e aramaico —, sabemos hoje que a maioria das citações do AT no Novo Testamento não provêm do texto hebraico, mas da tradução grega comumente conhecida como Septuaginta (LXX).</p>

		<p>Uma vez que o texto da LXX difere em muitos pontos do texto massorético, e ainda pelo fato de não haver uma publicação "oficial" da LXX no Brasil, faz mais sentido ao nosso propósito aqui utilizar o texto grego do AT. Isso permitirá ao estudante comparar os termos gregos usados pelos escritores do Novo Testamento com os da LXX. O que se perceberá é que os autores neotestamentários dependiam quase que estritamente das correspondências gregas apresentadas na LXX. Ou seja, sendo judeus, eles "pensavam" em hebraico/aramaico, mas escreviam em grego, precisando saber que palavras gregas equivaliam às hebraicas em suas mentes. O "dicionário" usado para estas correspondências foi, claramente, a tradução grega do Antigo Testamento.</p>

		<p>Portanto, espero que, ao apresentar o texto da LXX para o AT, ao invés do texto massorético, os estudantes da Bíblia sejam enriquecidos por um material que é de extrema importância para a compreensão e interpretação do Novo Testamento.</p>

		<h2 id="e">Os textos gregos utilizados</h2>

		<p>Hoje temos à disposição quase seis mil cópias manuscritas do Novo Testamento grego, e cerca de duas mil do Antigo Testamento grego. É uma quantidade fenomenal de testemunhas, vencendo qualquer outro texto antigo de lavada. Entretanto, em meio a tantas cópias é de se esperar que haja também muitas variantes entre elas. Estima-se que existam entre 250 a 500 mil variantes entre as cópias disponíveis, somente do Novo Testamento, e embora 90% dessas variantes não afete nossa compreensão do texto (erros de escrita, em sua maioria), ainda assim existem diferenças marcantes nos 10% restantes.</p>

		<p>Diante disso, surgiu a Crítica Textual, que objetiva encontrar o texto mais próximo aos autógrafos (ou seja, os originais dos autores). Há muita controvérsia a respeito deste assunto, mas o fato é que bons trabalhos têm sido realizados neste sentido desde pelo menos o século XVI. O trabalho dos críticos textuais é tentar descobrir, por evidências externas e internas (o texto em si), qual o "melhor texto" do Novo Testamento.</p>

		<p>Hoje temos três escolas críticas: a que defende o chamado Texto Recebido (TR), texto este utilizado nas primeiras impressões e traduções do Novo Testamento no século XVI; o Texto Majoritário (TM), que é semelhante em partes ao TR, mas que contêm muito mais testemunhas e por isso difere daquele em alguns pontos; e o Texto Crítico (TC), uma forma de texto "artificial" fruto de uma colagem dos manuscritos mais antigos encontrados, seguindo regras acadêmicas.</p>

		<p>Aqui não é o espaço para detalhar as virtudes e as falhas de cada um dos textos, mas preciso dizer que o texto aqui apresentado provem do Texto Majoritário. O principal motivo para isto é que, como o nome implica, é o texto mais predominante na história da igreja. Como afirmou o Dr. Paulo Anglada, a corrente do TM "defende que o texto original do Novo Testamento deve ser buscado, não em alguma edição mais ou menos empírica do Textus Receptus, nem exclusivamente em uns poucos manuscritos egípcios antigos preservados aleatoriamente, mas na grande massa de manuscritos existentes, incluindo papiros, unciais, minúsculos, lecionários, versões e citações". Em outras palavras, é um texto mais completo e mais bem atestado ao longo da história.</p>

		<p>Além de utilizar o TM como texto-base, utilizei o texto da <a href="https://www.prunch.com.br/" target="_blank">Família 35</a>, produzido pelo Dr. William Pickering para os casos onde ele aponta a leitura mais atestada no seu aparato crítico.</p>

		<p>Já em relação à Septuaginta, o texto utilizado é o da <a href="https://apostolicbible.com/" target="_blank">Bíblia Apostólica Poliglota</a>, cuja base textual principal é o Codex Vaticanus.</p>

		<small>* Utilizamos uma tradução dinâmica do dicionário do site <a href="https://bibleapps.com/" target="_blank">bibleapps.com</a></small>

		<p></p>
	</div>
</div>